<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/headers.html :: header"></div>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div th:replace="fragments/scripts.html :: scripts"></div>
<div class="container-lg mt-5">
    <h1 class="mt-5 pt-3">Generate Passive Income - Register you car!</h1>
    <div th:if="${error != null}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Error</strong>
            <small class="text-muted">11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <p th:text="${error}"></p>
        </div>
    </div>
    <form method="POST" th:action="@{/vehicle/add_vehicle}" class="col-7" enctype="multipart/form-data">
        <span th:text="${message}"></span>
        <div class="form-group row m-2">
            <label for="add_photo" class="col-sm-2 col-form-label">Photo</label>
            <div class="col-sm-10">
                <input id="add_photo" name="photo_image" type="file" class="form-control" placeholder="Car Photo"
                       autofocus="true" accept="image/png, image/jpeg"/>
            </div>
        </div>

        <div class="form-group row m-2">
            <label for="add_brand" class="col-sm-2 col-form-label">Vehicle Model</label>
            <div class="col-sm-10">
                <input id="add_brand" name="brand" type="text" class="form-control" placeholder="Car Brand"
                       autofocus="true"/>
            </div>
        </div>
        <div class="form-group row m-2">
            <label for="add_name" class="col-sm-2 col-form-label">Vehicle Model</label>
            <div class="col-sm-10">
                <input id="add_name" name="name" type="text" class="form-control" placeholder="Car model"
                       autofocus="true"/>
            </div>
        </div>
        <div class="form-group row m-2">
            <label for="add_year" class="col-sm-2 col-form-label">Year of Manufacturing</label>
            <div class="col-sm-10">
                <input id="add_year" name="yearOfManufacture" type="text" class="form-control"
                       placeholder="Year Of Manufacture"/>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row m-2">
                <legend class="col-form-label col-sm-2 pt-0">Vehicle Type</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="vehicleType" id="gridRadios1" value="CAR"
                               checked>
                        <label class="form-check-label" for="gridRadios1">
                            Car
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="vehicleType" id="gridRadios2" value="TRUCK">
                        <label class="form-check-label" for="gridRadios2">
                            Truck
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row m-2">
            <label for="add_country" class="col-sm-2 col-form-label">Country</label>
            <div class="col-sm-10">
                <input id="add_country" name="country" type="text" class="form-control" placeholder="Country"/>
            </div>
        </div>
        <div class="form-group row m-2">
            <label for="add_location" class="col-sm-2 col-form-label">Location</label>
            <div class="col-sm-10">
                <input id="add_location" name="location" type="text" class="form-control" placeholder="Location"/>
            </div>
        </div>
        <div class="form-group row m-2">
            <label for="add_capacity" class="col-sm-2 col-form-label">Seating Capacity</label>
            <div class="col-sm-10">
                <input id="add_capacity" name="capacity" type="text" class="form-control"
                       placeholder="Seating Capacity"/>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block m-3" type="submit">Register My Vehicle</button>
<!--</div>-->
</form>
</div>
<div th:replace="fragments/footer.html :: footer"></div>
</div>
</body>
</html>