<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/headers.html :: header"></div>
</head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar.html :: navbar"></div>
<div th:replace="fragments/scripts.html :: scripts"></div>
<main class="flex-shrink-0">
    <div class="container">

        <!-- Listing Booked Vehicle -->
        <div th:if="${booked != null && booked.size != 0}">
            <!--            <div th:each="vehicle : ${list.content}" class="row row-cols-1 row-cols-md-3 g-4">-->
            <div class="row mb-3 mt-3">
                <h1 class="mt-5">Booked Vehicle</h1>
                <div th:each="b_vehicle : ${booked}" class="col-sm-4">
                    <div class="card m-2 mb-3">
                        <img th:unless="${b_vehicle.imageLink == null}" th:src="'/user-file/?id=' + ${b_vehicle.imageLink}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${b_vehicle.name} + ' :: ' + ${b_vehicle.yearOfManufacture}">Car
                                Name :: 2022 :: registrationNumber <span class="badge badge-info"
                                                                         th:text="${b_vehicle.status}">STATUS</span></h5>
                            <table>
                                <tr>
                                    <td>Capacity</td>
                                    <td th:text="${b_vehicle.capacity}">4</td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td th:text="${b_vehicle.location}">4</td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td th:text="${b_vehicle.country}">4</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>
                                        <span class="badge bg-info" th:text="${b_vehicle.status}">STATUS</span>
                                    </td>
                                </tr>
                            </table>
                            <div class="row d-flex justify-content-end mt-5">
                                <form class="form-group col-sm-5"
                                      th:action="@{/vehicle/release(id=${b_vehicle.id})}" method="POST">
                                    <button class="btn btn-danger btn-block" type="submit">Release</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="mt-5 pt-3">Available Vehicles</h1>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${type =='CAR'? 'disabled' : ''}">
                <a class="page-link" th:href="@{/vehicle(size=${list.size}, page=${pageNumber}, type=CAR)}">Filter
                    Cars</a>
            </li>
            <li class="page-item" th:classappend="${type =='TRUCK'? 'disabled' : ''}">
                <a class="page-link" th:href="@{/vehicle(size=${list.size}, page=${pageNumber}, type=TRUCK)}">Filter
                    Trucks</a>
            </li>
        </ul>

        <ul class="pagination justify-content-center">
            <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                th:classappend="${pageNumber==list.number + 1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/vehicle(size=${list.size}, page=${pageNumber}, type=${type})}"
                   th:text=${pageNumber}>VALUE</a>
            </li>
        </ul>

        <div th:if="${list != null && list.totalPages != 0}">
            <!--            <div th:each="vehicle : ${list.content}" class="row row-cols-1 row-cols-md-3 g-4">-->
            <div class="row mb-3">
                <div th:each="vehicle : ${list.content}" class="col-sm-4">
                    <div class="card m-2 mb-3">
                        <img th:unless="${vehicle.imageLink == null}" th:src="'/user-file/?id=' + ${vehicle.imageLink}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${vehicle.name} + ' :: ' + ${vehicle.yearOfManufacture}">Car
                                Name :: 2022 :: registrationNumber <span class="badge badge-info"
                                                                         th:text="${vehicle.status}">STATUS</span></h5>
                            <table>
                                <tr>
                                    <td>Capacity</td>
                                    <td th:text="${vehicle.capacity}">4</td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td th:text="${vehicle.location}">4</td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td th:text="${vehicle.country}">4</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>
                                        <span class="badge bg-info" th:text="${vehicle.status}">STATUS</span>
                                    </td>
                                </tr>
                            </table>
                            <div class="row d-flex justify-content-end mt-5">
                                <form class="form-group col-sm-5" th:if="${vehicle.isDeleteEnabled}"
                                      th:action="@{/vehicle/delete(id=${vehicle.id})}" method="POST">
                                    <button class="btn btn-danger btn-block" type="submit">Delete</button>

                                </form>

                                <form class="form-group col-sm-5" th:unless="${vehicle.isDeleteEnabled}"
                                      th:action="@{/vehicle/book(id=${vehicle.id})}" method="POST">
                                    <button class="btn btn-info btn-block" type="submit">Book it</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer.html :: footer"></div>
</div>
</body>
</html>