<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/headers.html :: header"></div>
</head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar.html :: navbar"></div>
<div th:replace="fragments/scripts.html :: scripts"></div>
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5 pt-3">Successfully Registered the vehicle</h1>
        <label th:text="${vehicle.id}">ID</label>
    </div>
</main>
</body>
</html>