<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:fragment="navbar">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/index}">VRP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/index}">Home</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/vehicle}">Vehicle</a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a class="nav-link active link-warning" aria-current="page" th:href="@{/vehicle/add}">Register your vehicle</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                            <a class="nav-link active link-warning" aria-current="page" th:href="@{/vehicle/approvals}">Waiting for review</a>
                        </li>
                    </ul>
                    <form sec:authorize="isAnonymous()" class="d-flex form-signin" method="POST" th:action="@{/login}">
                        <input name="username" type="text" class="form-control ms-3" placeholder="Username"/>
                        <input name="password" type="password" class="form-control ms-3" placeholder="Password"/>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <button class="btn btn-outline-success ms-3" type="submit">Login</button>
                    </form>
                    <div sec:authorize="isAnonymous()">
                        <form th:action="@{/registration}">
                            <button class="btn btn-outline-info ms-3" type="">Register</button>
                        </form>
                    </div>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST">
                        <button class="btn btn-danger" type="submit" value="Logout">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</th:block>
</html>