<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace = "fragments/headers.html :: header"> </div>
</head>
<body>
<div th:replace = "fragments/navbar.html :: navbar"> </div>
<div th:replace = "fragments/scripts.html :: scripts"> </div>
<div class="container">
    <form class="form-signin" method="POST" th:action="@{/login}">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>

            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span class="has-error" th:text="${error}"></span>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="/registration">Create an account</a></h4>
        </div>
    </form>
</div>
<div th:replace = "fragments/footer.html :: footer"> </div></div>
</body>
</html>